@import './base.css';

button {
    border: .1em solid;
    border-radius: .2em;
    color: inherit;
    font: inherit;
    background-color: transparent;
    padding: .5em 1em;
}

.box {
    border: .1em solid;
    border-radius: .2em;
    margin-block: 2em;
    padding: 1em;
}